.dialog {
    margin: 5px 0 0 5px;
    word-wrap: break-word;

}

.link {
    color: #0B4F6C;
    text-decoration: none;
}

.dialogWrapper {
    display: flex;
    background: #EEEEEE;
    margin: 5px;
    border-radius: 9px;
}

.dialogAvatar {
    margin: 5px 0 0 5px;

}
.dialogAvatar img{
    width: 60px;
    border-radius: 50px;
}