.dialog {
    margin: 5px 0 0 5px;
    word-wrap: break-word;
    grid-area: dialog;
}

.message {
    margin: 5px 0 0 5px;
    word-wrap: break-word;
    color: rgb(65, 63, 63);
    grid-area: message;
    word-wrap: break-word;
    overflow-wrap: break-word;
    height: 35px;
    width: 90%;
}

.link {
    color: #0B4F6C;
    text-decoration: none;
}

.dialogWrapper {
    display: grid;
    background: #EEEEEE;
    height: 72px;
    margin: 5px;
    border-radius: 9px;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'avatar dialog'
    'avatar message';
}

.dialogAvatar {
    margin: 5px 0 0 5px;
    grid-area: avatar;
}

.dialogAvatar img{
    width: 60px;
    border-radius: 50px;
}

.loadingMessage{
    font-size: 14px;
	color: #fff;
    width: 100%;
    height: 9px;
	padding: 10px;
	display: inline-block;
	border-radius: 5px;
	animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground{
	0%		{ background-color: #EAEAEA;}
	25%		{ background-color: #DCDCDC;}
	50%		{ background-color: #E3E3E3;}
	75%		{ background-color: #DCDCDC;}
	100%	{ background-color: #EAEAEA;}
}