@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap');


.wrapper{
  display: flex;
  flex-direction: column;
  }
  
  
  .header{
    display: flex;
    flex-direction: row;
    height: 3rem;
    border-bottom: 1px solid #D6D9DC;
  }
  .backButton{
  
  }
  .friendInfo{
  margin-left: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .firendNameHeader{
    
  }
  .firendTime{
  
  }
  
  
  
  
  
  .mainBody{
    height: auto;
    border-bottom: 1px solid #D6D9DC;
  }
  .friendMessageWrapper{
   display: flex;
   margin: 7px;
   width: 450px;
   height: 54px;
  }
  .friendAvatar{
   width: 54px;
   border-radius: 50px;
  } 
  .friendInnerWrapper{
   margin-left: 9px;
  }
  .friendMessageName{
  
  }
  .friendMessageBody{
  
  }
  
  
  .selfMessageWrapper{
    display: flex;
    margin: 7px;
  }
  .selfAvatar{
  
  }
  .friendInnerWrapper{
  
  }
  .selfMessageName{
    
  }
  .selfMessageBody{
  
  }
  
  
  
  .footerWrapper{
    border-bottom: 1px solid #D6D9DC;
    height: 5rem;
  }
  .footer{
    height: 3rem;
    margin: 15px;
  }


  .footerButton{
    color: rgb(2, 1, 1);
    border-radius: 7px;
    border: 1px solid #24ADF3;
    height: 48px;
    width: 108px;
    background-color: transparent;
    outline: none;
    margin-left: 10px;
    font-family: Lexend;
    font-weight: 400;
  }
  .footerButton:focus {     
    background-color: #24ADF3;    
}
 
  .errorInput{
    outline: none;
    border: 1px solid red;
    border-radius: 7px;
    height: 45px;
    min-width: 360px;
    max-width: 540px;
  }

  .normalInput{
    outline: none;
    border: 1px solid gray;
    border-radius: 7px;
    height: 45px;
    min-width: 360px;
    max-width: 540px;
  }