.header{
  grid-area: h;
  border-bottom: 1px solid #D6D9DC;
  box-shadow: 0 0 5px 1px rgba(105, 105, 105, 0.5);
  background-color: white;
  

  position: sticky;
  top: 0;
  z-index: 100;

}

.header img{
  width: auto;
  height: 100%;
}
.loginBlock{
  float: right;
  margin: 10px 50px 0 0;
}