.nav{
  grid-area: n;
  border-right: 1px solid #D6D9DC;
  height: 1400px;
}
.item {
color: #0B4F6C;
padding-bottom: 6px;
font-family: 'Segoe UI', sans-serif;
}
.item :visited {
  color: #0B4F6C;
  }
  .itemWrapper{
    margin: 10px 0 0 15px;
  }
a{
  text-decoration:none
}
