
.item {
    color: #0B4F6C;
    padding-bottom: 9px;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 3px;

}

.item:visited {
    color: #0B4F6C;
}

.item:hover {
    background: #EEEEEE
}

a {
    text-decoration: none
}
