
.item {
    color: #0B4F6C;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 3px;
    padding: 5px 0 5px 5px;


}
.item:hover {
    background: #EEEEEE
}

.link{
    text-decoration: none;
    color:#0B4F6C;
}