.message {
    margin: 5px 0 0 5px;
    max-width: 1286px;
    word-wrap: break-word;
    color: #0B4F6C;
}
.messagesBox{
    display: flex;

}
.messagesBox img{
    width: 45px;
    border-radius: 50px;
    margin: 5px 0 0 5px;
}