@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap');
.avatar {
    width: 270px;
    border-radius: 9px;
    grid-area: ava;
}

.avatarWrapper {
    margin: 5px;
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-areas: "ava descr";
}

.description {
    grid-area: descr;
    font-family: "IBM Plex Sans";
}

.profileInfo {
    margin: 0 0 5px 15px;
    background-color: #EEEEEE;
    width: 360px;
    border-radius: 2px;
    display: flex;
}

.profileInfoError {
    margin: 0 0 5px 15px;
    background-color: #EEEEEE;
    width: 360px;
    border-radius: 2px;
    display: flex;
    border: 2px solid red;
}

.profileInfoTitle {
    margin-right: 5px;
    font-weight: bold;
}

.profileInfoMessageError{
    color: red;
    font-size: 12px;
    margin: 0 0 5px 15px;
}

.profileInfoButton{
    width: 180px;
    margin: 0 0 5px 15px;
}

.profileInfoSuccess{
    color: #4ED769;
    margin: 0 0 5px 15px;
}

.submitButton {
    color: rgb(2, 1, 1);
    border-radius: 7px;
    border: 1px solid #24ADF3;
    height: 48px;
    width: 108px;
    background-color: transparent;
    outline: none;
    margin-left: 10px;
    font-family: Lexend;
    font-weight: 400;
    margin: 15px 0 0 15px;
}

.submitButton:focus {
    background-color: #24ADF3;    
}

