.avatar {
    width: 270px;
    border-radius: 9px;
    grid-area: ava;
}

.avatarWrapper {
    margin: 5px;
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-areas: "ava descr";
}

.description {
    grid-area: descr;
    font-family: "IBM Plex Sans";
}

.profileInfo {
    margin: 0 0 5px 15px;
    background-color: #EEEEEE;
    width: 360px;
    border-radius: 2px;
    display: flex;
}

.profileInfoError {
    margin: 0 0 5px 15px;
    background-color: #EEEEEE;
    width: 360px;
    border-radius: 2px;
    display: flex;
    border: 2px solid red;
}

.profileInfoTitle {
    margin-right: 5px;
    font-weight: bold;
}

.profileInfoMessageError{
    color: red;
    font-size: 12px;
    margin: 0 0 5px 15px;
}

.profileInfoButton{
    width: 180px;
    margin: 0 0 5px 15px;
}

.profileInfoSuccess{
    color: #4ED769;
    margin: 0 0 5px 15px;
}

input[type="submit"] {
    background: #FBEDBF;
    color: #0A3669;
    text-transform: uppercase;
    margin: 40px 0 0 15px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 5px;
}

input[type="submit"]:hover {
    background: #427DC1;
}

input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    opacity: 0.8;
}
