.main {
    display: grid;
    grid-template-columns: 2fr 8fr;
   
}

.dialogs {
    border-right: 1px solid #D6D9DC;
    border-bottom: 1px solid #D6D9DC;
    font-family: "Yu Gothic UI", sans-serif;
    width: 720px;
    max-width: 100%;
    border: 1px solid black;
}
